footer {
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
}
.particle-container-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.particle-footer {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
}
